<%- include('partials/header') %>
<%- include('partials/sidebar') %>
<%- include('partials/banner', {
    title : 'About Us',
})  %>
<section>
    <div class="cs-client-brand-wrapper style-full-1raw">
      <div class="cs-client-container">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4">
              <div class="cs-client-card">
                <h6><a href="#">Personal
                    Protctive
                    Equipment</a></h6>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
              <div class="cs-client-card">
                <h6><a href="#">Building 
                    materials</a></h6>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
              <div class="cs-client-card">
                <h6><a href="#">Electricals</a></h6>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
              <div class="cs-client-card">
                <h6><a href="#">Agro-Implements 
                   
                    Chemicals</a></h6>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
              <div class="cs-client-card">
                <h6><a href="#">Electricals</a></h6>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
              <div class="cs-client-card">
                <h6><a href="#">Chemicals</a></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="cs-section-height"></div>
  <%- include('partials/moving') %>
  <div class="cs-section-height"></div>

  <section>
    <div class="cs-com-feature-wrapper cs-style-1">
      <div class="container">
        <div class="row">
          <div class="cs-section-title-left-right sec-title-style-1">
            <div class="cs-title-left-area">
              <div class="cs-sec-title">
                <h2 class="logi-splite">
                    No adjustment, only convenience!
                </h2>
                Hardware Hyper is a multifaceted company in the business of procurement, 
supplying and fixing premium range of products with an ultimate objective of 
achieving practicable quality service for sustainable customer satisfaction.
              </div>
            </div>
            <div class="cs-title-right-area">
              <div class="cs-blog-btn">
              
                  <i class="flaticon-right-arrow"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="cs-sec-title-height"></div>

      <div class="container-fluid">
        <div class="row cs_center">
          <div class="col-xl-6 col-lg-12">
            <div class="cs-com-fe-content-in">
              <div class="cs-com-feature-content">
                <div class="cs-com-fe-item">
                  <div class="cs-feature-title">
                    <h5>OUR VISION</h5>
                    <h2>VISION</h2>
                  </div>
                  <div class="cs-com-fe-icon">
                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0.870972 18.2441L18.6072 9.24414L0.870972 0.244141V18.2441Z" fill="#D40511" />
                      <path opacity="0.4" d="M0.870972 9.24414H18.6072L0.870972 0.244141V9.24414Z" fill="white" />
                    </svg>
                  </div>
                  <div class="cs-com-fe-text">
                    <p>
                        To be a preferred first choice integrated hardware hyper, automobile 
                        parts supplier and cleaning reagents distributor through value chain 
                        creation.
                    </p>
                  </div>
                </div>
              </div>

              <div class="cs-height-60"></div>

              <div class="cs-com-feature-content">
                <div class="cs-com-fe-item">
                  <div class="cs-feature-title">
                    <h5>OUR MISSION</h5>
                    <h2>MISSION</h2>
                  </div>
                  <div class="cs-com-fe-icon">
                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0.870972 18.2441L18.6072 9.24414L0.870972 0.244141V18.2441Z" fill="#D40511" />
                      <path opacity="0.4" d="M0.870972 9.24414H18.6072L0.870972 0.244141V9.24414Z" fill="white" />
                    </svg>
                  </div>
                  <div class="cs-com-fe-text">
                    To deliver quality products at affordable price, timeously and to the 
highest level of customer satisfaction.
                    </p>
                  </div>
                </div>
              </div>

              <div class="cs-height-60"></div>

              <div class="cs-com-feature-content">
                <div class="cs-com-fe-item">
                  <div class="cs-feature-title">
                    <h5>OUR CORE VALUES</h5>
                    <h2>VALUES</h2>
                  </div>
                  <div class="cs-com-fe-icon">
                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0.870972 18.2441L18.6072 9.24414L0.870972 0.244141V18.2441Z" fill="#D40511" />
                      <path opacity="0.4" d="M0.870972 9.24414H18.6072L0.870972 0.244141V9.24414Z" fill="white" />
                    </svg>
                  </div>
                  <div class="cs-com-fe-text">
                    <p>
                        Team work, Integrity and Customer focused . We are cognizant of the fact that the most important assets of the company are its 
                        employees.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-12">
            <div class="cs-com-fe-img reveal-img-wrap horizontal">
              <div class="reveal-img-inner">
                <img src="assets/img/company-feature-style-1.png" alt="LogiHub" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="cs-sec-title-height"></div>
  <%- include('partials/expertise') %>
  <div class="cs-sec-title-height"></div>
  <%- include('partials/testimonials') %>
  <div class="cs-sec-title-height"></div>
    <%- include('partials/footer') %>