<%- include('partials/header') %>
    <%- include('partials/sidebar') %>
        <%- include('partials/slider') %>
            <div class="cs-section-height"></div>
            <%- include('partials/expertise') %>
                <div class="cs-section-height"></div>
                <%- include('partials/about') %>