<%- include('partials/header', {page : 'home'}) %>
    <%- include('partials/sidebar') %>
        <%- include('partials/slider') %>
            <div class="cs-section-height"></div>
            <%- include('partials/expertise') %>
                <div class="cs-section-height"></div>
                <%- include('partials/about') %>
                <div class="cs-section-height"></div>
                <%- include('partials/moving') %>
                  <div class="cs-section-height"></div> 
                  <%- include('partials/services') %>
                  <div class="cs-section-height"></div>
                  <%- include('partials/testimonials') %>
                  <div class="cs-section-height-half"></div> <!-- Section to Section Gap -->
                  <div class="cs-container-border"></div>
                  <div class="cs-section-height-half"></div>
                  <%- include('partials/footer') %>
