<%- include('partials/header', {page : '-'}) %>
<%- include('partials/sidebar') %>
<%- include('partials/banner', {
    title : 'Lubrication n motor service kits',
})  %>
<div class="cs-section-height"></div>
<%- include('partials/blog', {
    title : 'Lubrication n motor service kits',
    desc: "We provide Lubrication and Motor Service Kits, ensuring top-notch quality and reliability for your needs",
    img: "/projects/lubrication.jpg",
    items : ["Motor & Industrial oils",
    "Passenger, Commercial and light vehicles tyres",
    "Motor Service Parts and Kits"],
    services : `We are your one-stop destination for comprehensive automotive and industrial solutions. Our extensive range of motor and industrial oils ensures optimal performance and longevity for your machinery and vehicles. 1  We offer a wide selection of high-quality passenger, commercial, and light vehicle tires, providing safety and reliability on the road. Our expert motor service technicians deliver top-notch maintenance and repairs, ensuring your vehicles run smoothly. We also provide a complete range of parts and kits, catering to all your automotive and industrial needs. Trust us to keep your operations running efficiently and your vehicles in peak condition.`
})  %>
<%- include('partials/footer') %>
