<%- include('partials/header', {page : '-'}) %>
<%- include('partials/sidebar') %>
<%- include('partials/banner', {
    title : 'Personal protection equipment',
})  %>
<div class="cs-section-height"></div>
<%- include('partials/blog', {
    title : 'Personal protection equipment',
    desc: "Explore our wide range of Personal Protection Equipment (PPE), designed to ensure safety and comfort in every environment.",
    img: "/projects/protection.jpg",
    items : ["Head Protection kits",
    "Head Protection kits ",
    "Hearing Protection kits",
    "Foot and Leg Protection kits",
    "..more"],
    services : `Prioritize the safety of your workforce with our comprehensive selection of high-quality Personal Protective Equipment (PPE). We offer a wide range of products designed to protect against various workplace hazards, including head injuries, eye damage, hearing loss, respiratory problems, and more. Our inventory includes durable hard hats, safety glasses, respirators, work gloves, safety shoes, and much more, all meeting industry safety standards. We are committed to providing reliable PPE that ensures the well-being of your employees and promotes a safe working environment.`
})  %>
<%- include('partials/footer') %>
