<%- include('partials/header', {page : 'services'}) %>
<%- include('partials/sidebar') %>
<%- include('partials/banner', {
    title : 'Services',
})  %>
<div class="cs-section-height"></div> 
<section>
    <div class="cs-blog-single-page cs-page-single-wrap">
      <div class="cs-blog-single-page-in cs-page-single-wrap-in">
        <!-- Content Area -->
        <div class="container">
          <div class="row for-bs cs_center">
            <div class="col-lg-8">
              <div class="cs-page-single-content-wrap">
                <div class="cs-page-content-in">
                  <h4>
                    HardWare Hyper
                  </h4>

                  <div class="cs-single-blog-info mb-3">
                    <p><%= (new Date().getFullYear()) %> </p>
                    <p>HardWareHyper</p>
                  </div>
                  <p>
                    Hardware Hyper is a multifaceted company in the business of procurement, 
                    supplying and fixing premium range of products with an ultimate objective of 
                    achieving practicable quality service for sustainable customer satisfaction.
                  </p>
                  <div class="cs-single-content-gap"></div>

                  <h6>Solar Energy Solutions</h6>
                  <p>
                    Solar Lighting,
                    Solar Gysers,
                    Solar panels,
                    Solar Batteries
                    & 
                    Acccessories
                  </p>
                  <div class="cs-single-content-gap"></div>
                  <h6>Cleaning Chemicals
                    and 
                    Disinfectants</h6>
                  <p>
                    Disinfecting liquids ,
                    Multipurposes cleaners,
                    Detergents, dishwashing liquids,
                    Washing powders, sanitizers,
                    Floor polishing waxes
                    Emulsion creams and applicators,
                    Brushware, carpet cleaning chemicals,
                    Floor scrubbing chemicals
                    Bins and disposable polythene bags
                  </p>
                  <div class="cs-single-content-gap"></div>

                  <div class="cs-quote-card-wrap cs-quote-dark">
                    <div class="cs-quote-in">
                      <i class="flaticon-quotation"></i>
                      <div class="cs-quote-text">
                        <p>
                          “No adjustment, only convenience!”
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="cs-single-content-gap"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Content Area -->
      </div>
    </div>
</section>
  <div class="cs-sec-title-height"></div>
    <%- include('partials/services') %>
    <div class="cs-sec-title-height"></div>
    <%- include('partials/testimonials') %>
    <div class="cs-sec-title-height"></div>
    <%- include('partials/footer') %>