<section>
    <div class="cs-blog-single-page cs-page-single-wrap">
      <div class="cs-blog-single-page-in cs-page-single-wrap-in">
        <!-- Content Area -->
        <div class="container">
          <div id="StickySection" class="row for-bs">
            <div class="col-lg-8 row">
              <div id="scrollElements">
                <div class="cs-page-single-content-wrap">
                  <div class="cs-page-content-in">
                    <img src=" <%= img %>" alt="<%= title %>" />

                    <div class="cs-single-content-gap"></div>
                    <h4>
                      <%= title %>
                    </h4>
                    <p>
                      <%= desc %>
                    </p>
                    <div class="cs-single-content-gap"></div>

                    <h6>Get More</h6>
                    <p>
                      <%= services %>
                    </p>
                    <div class="cs-single-content-gap"></div>
                    <h6>Items</h6>
                    <p>
                      <% items.map((e)=>{ %>
                         <li><%= e %> </li>
                      <% }) %>
                    </p>
                    <div class="cs-single-content-gap"></div>

                    <div class="cs-quote-card-wrap cs-quote-dark">
                      <div class="cs-quote-in">
                        <i class="flaticon-quotation"></i>
                        <div class="cs-quote-text">
                          <p>
                            “No adjustment, only convenience!”
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="cs-single-content-gap"></div>

                    <div class="cs-single-content-gap"></div>

                    <div class="cs-border-blog-single"></div>

                    <div class="cs-blog-tag-social">
                      <div class="cs-blog-tag-single">
                        <span class="cs-text-style-h6 cs-color-black">Tags:</span>
                        <div class="cs-tag-items-wrap">
                          <ul>
                            <li><a href="/services">Hardware</a></li>
                            <li><a href="/about">About</a></li>
                          </ul>
                        </div>
                      </div>

                      <div class="cs-social-common cs-blog-share">
                        <span class="cs-text-style-h6 cs-color-black">Share:</span>
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/profile.php?id=100063534292248&mibextid=rS40aB7S9Ucbxw6v" class="cs-text_b_line"> 
                                    <i class="bi bi-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://whatsapp.com/channel/0029VamdJe29MF8tAnH4qk0g" class="cs-text_b_line"> 
                                    <i class="bi bi-whatsapp"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://whatsapp.com/channel/0029VbAKnmL2f3EPxX6YFP1M" class=""> 
                                    <i class="bi bi-whatsapp"></i>
                                </a>
                            </li>
                        </ul>
                      </div>
                    </div>
                    <div class="cs-section-height-half"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div id="StickyElements">
                <div class="cs-single-widget-wrap">
                  <div class="cs-widget-in">
                    <div class="cs-widget-item">
                      <div class="cs-search-widget">
                        <div class="cs-search-content">
                          <input type="text" placeholder="Search here..." />
                          <div class="cs-icon-search">
                            <i class="flaticon-magnifying-glass"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="cs-widget-item cs-widget-leftborder">
                      <div class="cs-single-link">
                        <div class="cs-widget-title">
                          <i class="flaticon-menu"></i>
                          <h6>Category</h6>
                        </div>
                        <div class="cs-link-list">
                          <ul>
                            <li class="cs-text_b_line"><a href="/solar"><span>Solars</span></a></li>
                            <li class="cs-text_b_line"><a href="/lubrication"><span>Lubrication and Starter Kits</span></a></li>
                            <li class="cs-text_b_line"><a href="/stationary"><span>Stationary</span></a></li>
                            <li class="cs-text_b_line"><a href="/tools"><span>Tools n hardware</span></a></li>
                            <li class="cs-text_b_line"><a href="/protection"><span>Personal protection equipment</span></a></li>
                            <li class="cs-text_b_line"><a href="/kitchenware"><span>HYPER kitchenware</span></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="cs-widget-item cs-widget-leftborder">
                      <div class="cs-blog-tag">
                        <div class="cs-widget-title">
                          <i class="flaticon-menu"></i>
                          <h6>Tags</h6>
                        </div>
                        <div class="cs-tag-items-wrap">
                          <ul>
                            <li><a href="/solar"><span>Solars</span></a></li>
                            <li><a href="/lubrication">Lubrication and Starter Kits</a></li>
                            <li><a href="/stationary"><span>Stationary</span></a></li>
                            <li><a href="/tools"><span>Tools n hardware</span></a></li>
                            <li><a href="/protection"><span>Personal protection equipment</span></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Content Area -->
      </div>
    </div>
  </section>
<div class="cs-section-height"></div>