<header class="cs_site_header cs-header-with-bg cs_style1 cs_sticky_header">
    <!-- Header Topbar Start -->
    <div class="cs_logi_topbar">
        <div class="container-fluid">
            <div class="cs-topbar-container">
                <div class="cs-topbar-left">
                    <span class="cs-small-text cs-color-black">187 Samora Machel Ave , Eastlea ,Harare</span>
                </div>
                <div class="cs-logi-topbar-right">
                    <div class="cs-topbar-social">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/profile.php?id=100063534292248&mibextid=rS40aB7S9Ucbxw6v" class="cs-text_b_line"> 
                                    <i class="bi bi-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://whatsapp.com/channel/0029VamdJe29MF8tAnH4qk0g" class="cs-text_b_line"> 
                                    <i class="bi bi-whatsapp"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://whatsapp.com/channel/0029VbAKnmL2f3EPxX6YFP1M" class=""> 
                                    <i class="bi bi-whatsapp"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Topbar -->

    <!-- Start Main Header Area -->
    <div class="cs_main_header">
        <div class="container-fluid">
            <div class="cs_main_header_in">
                <!-- Start Main Header Left Area -->
                <div class="cs_main_header_left">
                    <div class="cs-logi-header-logo">
                        <a class="cs_site_branding" href="/">
                            <img src="/assets/img/logo_black_text.png" alt="Logo" />
                        </a>
                    </div>
                </div>
                <!-- End Main Header Left Area -->

                <!-- Start Main Header Middle Area -->
                <div class="cs-logi-header-middle">
                    <div class="cs_nav cs_medium">
                        <ul class="cs_nav_list">
                            <li class="">
                                <a href="/" class=" <%= page=='home' ? 'active-header' : '' %>"  ><span>Home </span></a>
                            </li>
                            <li>
                                <a href="/about" class="<%= page=='about' ? 'active-header' : '' %>"><span>About</span></a>
                            </li>
                            <li>
                                <a href="/services" class="<%= page=='services' ? 'active-header' : '' %>"><span>Service</span></a>
                            </li>
                            <li>
                                <a href="/catalogues" class="<%= page=='catalogues' ? 'active-header' : '' %>"><span>Catalogues</span></a>
                            </li>
                            <li>
                                <a href="/contact" class="<%= page=='contact' ? 'active-header' : '' %>"><span>Contact</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Main Header Middle Area -->

                <!-- Start Main Header Right Area -->
                <div class="cs_main_header_right">
                    <div class="cs-header-additional-item">
                        <a href="#"><span class="cs_accent_color">+</span> Track Your Order</a>
                    </div>
                    <div class="cs_toolbox">
                        <span class="cs_icon_btn">
                            <span class="cs_icon_btn_in">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </span>
                    </div>
                </div>
                <!-- End Main Header Right Area -->
            </div>
        </div>
    </div>
    <!-- End Main Header Area -->

    <!-- Header Email Phone -->
    <div class="cs-header-emai-phone">
        <div class="cs-topbar-email">
            <div class="cs-email">
                <a href="mailto:hardwarehyperplc@gmail.com">hardwarehyperplc@gmail.com</a>
            </div>
        </div>
        <a href="#" class="cs-header-phone">
            <div class="cs-header-phone-content">
                <div class="cs-header-phone-in">
                    <div class="cs-header-phone-icon">
                        <i class="flaticon-viber"></i>
                    </div>
                    <div class="cs-header-phone-number">
                        <span>Make a Call</span>
                        <div>
                            <span class=" cs-text_b_line">
                                +263 719 401 405
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <!-- Header Email Phone -->
</header>